
  <div class="col-xs-3 added_gif" >
    <%= link_to image_tag(gif.url, class: "img-responsive"), "#","data-toggle"=>"modal", "data-target"=>"#gif_modal-#{gif.id}" %>
    <p class = "votes">Votes: </p>
  </div>

<div class="modal fade" id = "gif_modal-<%=gif.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p><%=link_to image_tag(gif.url, class:"img-responsive"), "#{gif.url}" %></p>
        <p>Copy Link: <%= link_to "#{gif.url}", "#{gif.url}"%></p>
          <div class="col-xs-8">
            <p>Uploaded on: <%= gif.created_at.to_formatted_s(:long) %> </p>
          </div>
          <div class= "col-xs-4">
            <p>Uploaded by: <%=link_to "#{gif.user.login}", "#{gif.user.login}" %> </p>
          </div>
          <div class="voting">
            <div class= "col-xs-4 col-xs-offset-2">
              <p><%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe,"#"%></p>
            </div>
            <div class= "col-xs-4">
              <p>  <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe,"#"%></p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
